<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('header'); -%>
</head>
<body>
    <%- include('allblocks/header'); -%>

    <%- include('allblocks/info', {name: "Administrator > " + id}); -%>

    <%- include('admin/addbody'); -%>

    <%- include('allblocks/footer') -%>
</body>
<script src="/js/js.js"></script>
</html>