<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('header'); -%>
</head>
<body>
    <%- include('allblocks/header'); -%>
    <%- include('wellcome/slider'); -%>
    <%- include('wellcome/acts'); -%>
    <%- include('wellcome/serv'); -%>
    <%- include('wellcome/bas') -%>
    <%- include('wellcome/sas') -%>
    <%- include('allblocks/footer') -%>
</body>
<script src="/js/js.js"></script>
</html>