<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('header'); -%>
</head>
<body>
    <%- include('allblocks/header'); -%>
    <%- include('allblocks/info', {     name: "Loyiha"  }); -%>
    <%- include('parts/projectcell', {  x: dbase.elem(dbase[page], id)    }) -%>
    <%- include('allblocks/footer') -%>
</body>
<script src="/js/js.js"></script>
</html>