
<div class="prel active">
    <div class="prel__hid">
        <div class="prel__hid--up ani"></div>
        <div class="prel__hid--down ani"></div>
        <div class="prel__hid--text" data-src="<%= text.ready %>"><%= text.loading %></div>
        <div class="prel__hid--left ani"></div>
        <div class="prel__hid--right ani"></div>
    </div>
</div>
<!-- <section class="head">
    <div class="con">
        <div class="head__left">
            <h1>center_name1<br>center_name2<br>center_name3<br>center_name4</h1>
        </div>
        <div class="head__right">
            <a href="#" class="head__right--links">
                <i class="fas fa-caret-down"></i>
                <div class="linktext">dbase.contacts[0].shower</div>
            </a>
            <a href="#" class="head__right--links">
                <i class="fas fa-caret-down"></i>
                <div class="linktext">dbase.contacts[1].shower</div>
            </a>
            <a href="#" class="head__right--link">
                <img src="share" alt="share">
            </a>
            <a href="#" class="head__right--link">
                <img src="/imgs/icons/telegram.ico" alt="share">
            </a>
            <a href="#" class="head__right--link">
                <img src="share" alt="share">
            </a>
        </div>
    </div>
</section> -->
<section class="stick active">
    <div class="con">
        <a href="<%= lang %>/" class="stick__logo">
            <img src="/imgs/logo/logo-horiz-white.png" alt="idns logo">
        </a>
        <div class="stick__center">
            <a href="<%= lang %>/#" class="stick__center--link"><%= text.main %></a>
            <a href="<%= lang %>#aboutus" class="stick__center--link"><%= text.aboutus %></a>
            <a href="<%= lang %>/projects" class="stick__center--link"><%= text.projects %></a>
            <a href="<%= lang %>#services" class="stick__center--link"><%= text.services %></a>
            <a href="<%= lang %>/contacts" class="stick__center--link"><%= text.contacts %></a>
            
            <div class="stick__center--dropdown stick__center--link stick__center--lang">
                <a class="dropmain"><i class="fas fa-language admin__icon"></i></a>
                <div class="droping">
                    <a href="/ru" class="droping__element">Русский</a>
                    <a href="/uz" class="droping__element">O'zbekcha</a>
                </div>
            </div>
            <!-- <a href="/admin" class="sets"><i class="fas fa-users-cog admin__icon"></i></a> -->
        </div>
        <div class="stick__btn mybtn" onclick="dqs('.reg').classList.add('active');"><%= text.contactus %></div>
        <div class="burger">
            <i class="fas fa-bars open" style="color: white;"></i>
            <i class="fas fa-times close" style="color: white;"></i>
        </div>
        <div class="stick__menu">
            <div class="stick__mid">
                <a href="<%= lang %>/" class="stick__menu--link"><%= text.main %></a>
                <a href="<%= lang %>#aboutus" class="stick__menu--link"><%= text.aboutus %></a>
                <a href="<%= lang %>/projects" class="stick__menu--link"><%= text.projects %></a>
                <a href="<%= lang %>#services" class="stick__menu--link"><%= text.services %></a>
                <a href="<%= lang %>/contacts" class="stick__menu--link"><%= text.contacts %></a>
                <div class="r">
                    <a href="/ru" class="rel">Русский</a>
                    <a href="/uz" class="rel">O'zbekcha</a>
                </div>
                <a href="/admin" class="sets"><i class="fas fa-users-cog admin__icon"></i></a>
            </div>
            
        </div>
    </div>
</section>

<section class="reg">
    <div class="con">
        <form action="<%= lang %>/" method="POST">
            <i class="fas fa-times"style="color:#e60707" onclick="dqs('.reg').classList.remove('active')"></i>
            <div class="labeler">
                <input class="labeler__input" type="text" name="name" onchange="checklabel(this)">
                <div class="labeler__placeholder"><%= text.name %></div>
            </div>
            <div class="labeler">
                <input class="labeler__input" required pattern="[+]?[0-9]{7,13}" type="tel" name="tel" onchange="checklabel(this)">
                <div class="labeler__placeholder"><%= text.your_tel %></div>
            </div>
            <input name="type" type="hidden" value="tel">
            <button type="submit" class="reg__btn mybtn"><%= text.contactus %></button>
        </form>
    </div>
</section>