<section class="bas" id="services">
    <div class="con">
        <div class="sas__gh">
            <a>Xizmatlar</a>
        </div>
        <div class="bas__ge">
            <% dbase.services.forEach(el => { %>
                <a href="<%= lang %>/services/<%= el.id %>" class="bas__gc">
                    <div class="bas__gc--ci">
                        <%- el.icon %> 
                    </div>
                    <h1><%= el['name_' + text.lan] %></h1>
                    <p><%= el['desc_' + text.lan] %></p>
                </a>
            <% }) %>
            <!-- <div class="bas__gc">
                <div class="bas__gc--ci">
                    <i class="fas fa-drafting-compass"></i>
                </div>
                <h1>This is 1 service</h1>
                <p>this is 1 desc lorem ipsum sit amet dor</p>
            </div>
            <div class="bas__gc">
                <div class="bas__gc--ci">
                    <i class="fas fa-home"></i>
                </div>
                <h1>This is 2 service</h1>
                <p>this is 2 desc lorem ipsum sit amet dor</p>
            </div>
            <div class="bas__gc">
                <div class="bas__gc--ci">
                    <i class="fas fa-ruler-combined"></i>
                </div>
                <h1>Aniq o'lchamlar</h1>
                <p>Qurilish vaqtida loyiha bo'yicha qo'shimcha o'lchamlar qilishga xojat yo'q</p>
            </div>
            <div class="bas__gc">
                <div class="bas__gc--ci">
                    <i class="fas fa-wallet"></i>
                </div>
                <h1>Tejamkor qurilish</h1>
                <p>Qurilishni sifatli va chidamli loyihalash bilan birga mahsulotlardan tejamkor foydalanish</p>
            </div> -->
        </div>
    </div>
</section>